# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands on practice creating and using lambda functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv')
df.head(2)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple Arithmetic

Use a lambda function to create a new column called 'stars_squared' by squarring the stars column.

In [3]:
df.stars_squared = (df.stars)**2

In [4]:
df.stars_squared.head()

0    25
1     1
2    25
3     1
4    25
Name: stars, dtype: int64

## Dates
Select the month from the date string using a lambda function.

In [5]:
df.date.map(lambda x: x[5:7]).head()

0    11
1    10
2    09
3    02
4    06
Name: date, dtype: object

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [8]:
df.text.map(lambda x: len(x.split())).mean()

77.06551724137931

## Create a new column for the number of words in the review.

In [21]:
df['ntext'] = df.text.map(lambda x: len(x.split()))

In [22]:
df.ntext.head()

0    58
1    30
2    30
3    82
4    32
Name: text, dtype: int64

## Rewrite the following as a lambda function. Create a new column 'Review_Length'

In [5]:
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
#Hint: nest your if, else conditionals

In [23]:
df['Review_Length']='Long'
df['Review_Length']= df.ntext.map(lambda x: 'Short'if x<50 else ('Medium' if x<80 else 'Long'))

In [31]:
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,Review_Length,ntext
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,Medium,58
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,Short,30
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,Short,30
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,Long,82
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,Short,32

In [34]:
df.loc[:10,['Review_Length','ntext','date']]

   Review_Length  ntext        date
0         Medium     58  2012-11-13
1          Short     30  2014-10-23
2          Short     30  2014-09-05
3           Long     82  2011-02-25
4          Short     32  2016-06-15
5          Short     49  2016-09-23
6          Short     21  2014-08-23
7         Medium     70  2017-08-16
8           Long    131  2017-11-18
9           Long    112  2017-11-18
10         Short     19  2015-12-10

In [29]:
df.loc[:10,'Review_Length']

0     Medium
1      Short
2      Short
3       Long
4      Short
5      Short
6      Short
7     Medium
8       Long
9       Long
10     Short
Name: Review_Length, dtype: object

## Level Up: Dates Advanced!
<img src="images/date_format_map.png" width="600">  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [ ]:
df.date.map(lambda x: x[8:]+x[]).head()

## Summary

Great! Hopefully you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.